In [12]:
%matplotlib inline
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=FutureWarning)
from sklearn.neighbors import LocalOutlierFactor

os.chdir('C:\\Users\\meric\Desktop\codes\poc')
os.getcwd()
df_main=pd.read_excel('maskeli kart datası.xlsx',sheet_name='Sheet1')

# df_main

In [2]:
df=df_main[["TIP_KOD","KARTSTATU_KOD","TRANSACTION_TIPI_KOD","TUTAR","TERMINAL_KOD"]]
df

       TIP_KOD  KARTSTATU_KOD  TRANSACTION_TIPI_KOD  TUTAR  TERMINAL_KOD
0            1              0                     1    500             1
1            1              0                     1    500             1
2            1              1                     1    500             1
3            1              0                     1    500             1
4            1              0                     1    500             1
...        ...            ...                   ...    ...           ...
29994        1              0                     2    180           267
29995        1              1                     2    180           267
29996        1              1                     2    180           267
29997        1              0                     2    180           267
29998        1              0                     2    180           267

[29999 rows x 5 columns]

# en küçük score en anormal kayıt anlamında, max -1 -0.99 olabiliyor

In [3]:
clf = LocalOutlierFactor(n_neighbors = 20, contamination = 0.01)
df[:]["Is_Outlier_01"]=clf.fit_predict(df)
df[:]["score"]=clf.negative_outlier_factor_
df

C:\Users\meric\AppData\Local\Temp/ipykernel_280/2365197708.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[:]["Is_Outlier_01"]=clf.fit_predict(df)
C:\Users\meric\AppData\Local\Temp/ipykernel_280/2365197708.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[:]["score"]=clf.negative_outlier_factor_

       TIP_KOD  KARTSTATU_KOD  TRANSACTION_TIPI_KOD  TUTAR  TERMINAL_KOD
0            1              0                     1    500             1
1            1              0                     1    500             1
2            1              1                     1    500             1
3            1              0                     1    500             1
4            1              0                     1    500             1
...        ...            ...                   ...    ...           ...
29994        1              0                     2    180           267
29995        1              1                     2    180           267
29996        1              1                     2    180           267
29997        1              0                     2    180           267
29998        1              0                     2    180           267

[29999 rows x 5 columns]

In [4]:
clf.negative_outlier_factor_

array([-1.        , -1.        , -1.        , ..., -1.00182224,
       -0.98985478, -0.98985478])

In [5]:
df_result=pd.merge(df_main, df, left_index=True, right_index=True)
df_result

,Unnamed: 0,MUSTERI_NO,ad-soyad/unvan,TIP,TIP_KOD_x,DOGUM_TARIHI,SEHIR,KART_NO,KARTSTATU,KARTSTATU_KOD_x,...,TERMINAL,TERMINAL_ADI,TERMINAL_KOD_x,Is_Outlier_01,grup,TIP_KOD_y,KARTSTATU_KOD_y,TRANSACTION_TIPI_KOD_y,TUTAR_y,TERMINAL_KOD_y
0,0,172****,B***C****,Gercek,1,***70927,DOBRITCHBULGAR?STAN,6033********8022,KART KAPALI,0,...,A0***,OZY*****,1,1,3,1,0,1,500,1
1,1,247****,M***O****,Gercek,1,***11106,AKOREN,6033********8022,KART KAPALI,0,...,A0***,OZY*****,1,1,3,1,0,1,500,1
2,2,296****,M***H****,Gercek,1,***30123,ANDIRIN,6033********8022,KART ACIK,1,...,A0***,OZY*****,1,1,3,1,1,1,500,1
3,3,343****,B***S****,Gercek,1,***70102,CORLU,6033********8022,KART KAPALI,0,...,A0***,OZY*****,1,1,3,1,0,1,500,1
4,4,146****,E***S****,Gercek,1,***40824,?STANBUL MERKEZ,6033********8022,KART KAPALI,0,...,A0***,OZY*****,1,1,3,1,0,1,500,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,29994,263****,O***Y****,Gercek,1,***90423,CAL,6033********9156,KART KAPALI,0,...,00***,YAR*****,267,1,3,1,0,2,180,267
29995,29995,414****,C***Y****,Gercek,1,***00129,ERBAA,6033********9156,KART ACIK,1,...,00***,YAR*****,267,1,3,1,1,2,180,267
29996,29996,784****,N***K****,Gercek,1,***80226,B?TL?S MERKEZ,6033********9156,KART ACIK,1,...,00***,YAR*****,267,1,3,1,1,2,180,267
29997,29997,209****,D***G****,Gercek,1,***40801,MALAZG?RT,6033********9156,KART KAPALI,0,...,00***,YAR*****,267,1,3,1,0,2,180,267
29998,29998,105****,F***S****,Gercek,1,***00529,YEN?PAZAR,6033********9156,KART KAPALI,0,...,00***,YAR*****,267,1,3,1,0,2,180,267

In [6]:
df_result.to_excel("output.xlsx",sheet_name='Sheet1')
# df.to_excel("df.xlsx",
#              sheet_name='Sheet1')

In [10]:
from jenkspy import JenksNaturalBreaks
# breaks = jenkspy.jenks_breaks(df['TUTAR'], nb_class=2)
# print(breaks)

ImportError: cannot import name 'JenksNaturalBreaks' from 'jenkspy' (C:\ProgramData\Anaconda3\lib\site-packages\jenkspy\__init__.py)

In [ ]:
Xt = est.transform(df)
Xt